body {
  background-color: blueviolet;
}
h1 {
  color: antiquewhite;
  text-align: center;
  display: inline-block;
}
div {
  text-align: center;
  color: yellow;
}
img {
  color: yellow;
}
a {
  color: aliceblue;
}
p {
  color: aliceblue;
}
